<div>
	<div	class="card-content">
		<div	class="card-img">
			<img	src="https://placeimg.com/380/230/nature"	alt="">
				<span><h4>{{position}}</h4></span>
		</div>
		<div	class="card-desc">
			<h3>{{destino.nombre}}</h3>
			<p>Servicios
			</p>
			<ul>
			    <li *ngFor="let item of destino.servicios">
			    	<span  [ngSwitch]="item">
			    		<i *ngSwitchCase="'desayuno'" style="color:red;">{{item}}</i>			    	 
			    	    <i *ngSwitchDefault>{{item}}</i>
			    	</span>
			    </li>
			     
			</ul>
			<a	href="#"	class="btn-card" (click)="elegir()">Elegir</a>	
			<span *ngIf="destino.isSelected()">
				<span ngNonBindable>{{PREFERIDO}}</span> 
			</span>		
			<a [routerLink]="['/destino']">Ver detalle</a>
		</div>
	</div>
</div>