<div class="jumbotron text-white jumbotron-image shadow">
      <h2 class="mb-4">
     Bienvenido {{title}}
      </h2>     
  </div>

  <div class="container content">
   
    <div class="row">
    <div class="col-md-4">
      <h3>¿Cómo funciona?</h3>
      <p>Busca hoteles de acuerdo a tu preferencia</p>          
    </div>
    <div class="col-md-4">
      <h3>¿Donde puedo reservar?</h3>
      <p>Elige la cuidad que te interese y luego realiza la reserva con tus datos.</p>
    </div>
    <div class="col-md-4">
     <h3>¿Cómo pago?</h3>
      <p>Utilizá tu tarjeta favorita.</p>
    </div>
  </div>
  <div class="page-header">
     <h1>Ruteo simple</h1>
     <nav aria-label="breadcrumb">
      <div class="navLinks">
        <ol class="breadcrumb ">
          <li class="breadcrumb-item active" aria-current="page"> <a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item" aria-current="page"><a [routerLink]="['/destino']">Destino</a></li>
        </ol>          
      </div>      
    </nav>
  </div>
  <hr/>
    <div class="row-justify">
      <router-outlet></router-outlet>      
    </div>
  </div>